@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');

:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;

    --tileBorderRadius: 5px;

    --fontOne: 'Poppins', Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .header {
    padding: 0 2%;
} */

body {
    font-family: var(--fontOne); 
    background-color: #0d1117;
    height: 100vh;
}



/* Banner Image */
.slide-head{
    position: absolute;
    z-index: 2;
    top: 0;
}

.nslider{
    position:relative;
    width: 100%;
}

.myslider{
    height:655px;
    display: none;
    overflow: hidden;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color:#e5e5e5;
    transition: 0.1s;
    user-select: none;
}

.prev:hover, .next:hover{
    color:#e5e5e5;
}

.next{
    right: 0;
}

.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom:20px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active, .dot:hover{
    border-color: #f30000; 
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: 0.8}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: 0.8}
    to {opacity: 1}
}

#content-img{
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 30s;
    animation-name: zoomin;
    animation-duration: 30s;
}

@keyframes zoomin{
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
}

@-webkit-keyframes zoomin{
    from {transform: scale(1,1);}
    to {transform: scale(1.0, 1.0);}
}




/* sessão dos jogos */
.thumbSection {
    padding-top: 4%;
    color: var(--colorWhite);
}

.thumbTitle {
    font-size: 20px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px;
}

.thumbTiles.swiper-container {
    padding: 0 4%;
}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 100%;
    border-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.thumbTiles .swiper-button-prev {
    left: 0;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next {
    right: 0;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

.thumbSection .swiper-wrapper{
    padding: 30px 0;
}

.thumbSection .swiper-slide{
    transition: 250ms all;
}

.thumbSection .swiper-slide:hover{
    transform: scale(1.2);
    z-index:1;
}

.thumbSection .swiper-slide:first-child:hover{
    margin: 0 30px;
}

.thumbSection .swiper-slide:last-child:hover{
    margin: 0 -30px;
}

.thumbSection .swiper-slide:nth-child(6):hover{
    margin: 0 -30px;
}

/* pop up */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
