<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Conheça mais sobre o Gameflix</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>

  <!--MAIN CONTENT-->
  <h1>O Projeto</h1>


  <div class="equipeDiscricao">
  <h1>Membros da Equipe</h1>
  <h3>Dorival Ramos </h3>
  <img src="../static/img/Equipe/Dorival.png">

  <h3>Guilherme Benvenuto </h3>
  <img src="../static/img/Equipe/Guilherme.png">
  <p> 42 anos, formado em Administração de empresas, Pós-graduado em Gerenciamento de Projetos, Pós-graduado em Gestão
    Estratégica de Empresas,
    graduando em Análise e Desenvolvimento de Sistemas.Em 2020 decidi me dedicar à verdadeira paixão, atuar na área de
    tecnologia,
    começando o curso de Análise e Desenvolvimento de Sistemas e em paralelo a qualificação em programação junto a Blue
    Edtech.
    <ul>
      <li>Vivência em treinamentos e cursos, trabalhando o desenvolvimento de competências,
        avaliação por competências. </li>
      <li>Gerenciamento e suporte às rotinas das áreas financeira, administrativa, operacional,
        comércio exterior e todo o processo de participação em licitações públicas. </li>
      <li>Facilidade na validação e elaboração de todos os contratos da empresa junto à área
        jurídica, gerenciando suas particularidades, bem como seus aspectos legais, condições
        financeiras, responsabilidades, qualidade, prazos e o escopo dos serviços prestados. </li>
      <li>Domínio das rotinas da área de Financeira/Comercial, abrangendo, recrutamento,
        admissão, demissão, controle de ponto e elaboração de folha de pagamentos. Coordenação de
        equipe supervisionando a execução das atividades, promovendo elaboração e execução de
        treinamentos técnicos e motivacionais.. </li>
      <li>Ótima capacidade de negociação junto à clientes, fornecedores e instituições financeiras,
        atuando com grande comprometimento visando bons resultados para a empresa.</li>
    </ul>
  </p>

  <h3>Raphael Gonçalves</h3>

  <h3>Horlan Kelwyn</h3>
  <img src="../static/img/Equipe/Horlan.png">

  <h3>Victor Luz</h3>
  <img src="../static/img/Equipe/victor-edit.png">

  </div>
  
  <!--FOOTER CONTENT-->
  <div id="foot"></div>

</body>
<script src="../static/js/script.js">

</script>

</html>
