<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Conheça mais sobre o Gameflix</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>

  <!--MAIN CONTENT-->
  <section>
  <div id="projeto">
    <h1 id="titulo-projeto">O Projeto</h1>
  <p id="proj">
  O projeto surgiu a partir de algo que todos os membros têm em comum, os jogos eletrônicos.
  A partir disso dado a proposta de trabalho de conclusão de módulo, resolvemos nos basear numa plataforma de games
  no modelo "streaming play ", como acontece no Playstation Now, Google Stadia e NVIDIA Shield.

  Assim surgiu a ideia do "Gameflix", uma plataforma com interface simples e intuitiva,
  onde o usuário teria a facilidade de jogar em qualquer lugar sem se preocupar com os requisitos mínimos para executar
  o game, podendo jogar em qualquer dispositivo com acesso à internet. Através dessa ideia lúdica foi criada toda
  interface de navegação do Gameflix para Desktop

  O layout foi baseado a partir de dois serviços Online: o serviço de streaming "Netflix" e a loja de jogos "Battle Net,
  da Blizzard" a fim de obter uma melhor UX/UI.
  </p>
  </div>  

  <div class="equipeDiscricao">
    <h1 class="titulos">Membros da Equipe</h1>

    <h3 class="equipe">Dorival Ramos </h3>

    <div class="imgs-perfil">
      <img src="../static/img/Equipe/Dorival.png">
    </div>
    
    <p>
      Olá me chamo Dorival e tenho 24 Anos, sou um grande apaixonado por Técnologia e Games 
      Moro atualmente em São Bernardo do Campo - Sp
      Falando um pouco sobre min, tive meu primeiro contato com computadores e vídeos games desde cedo
      e sempre tive a curiosidade de saber como funcionava a tecnologia usada por de trás da tela e do teclado,
      assim que eu pude começar estudar por conta, eu fui atrás de cursos voltados a TI , desde Montagem e Manutenção
      de Micros passei por redes e atualmente estou estudando na BlueEdTech e penso em me especializar no Back-End.
          Estou gostando muito de escrever em Python, Criar e Configurar Banco de Dados.     
      
    </p>

    <h3 class="equipe">Guilherme Benvenuto </h3>

    <div class="imgs-perfil">
      <img src="../static/img/Equipe/Guilherme.png">
    </div>
    <div class="about">
    <p> 42 anos, formado em Administração de empresas, Pós-graduado em Gerenciamento de Projetos, Pós-graduado em Gestão
      Estratégica de Empresas,
      graduando em Análise e Desenvolvimento de Sistemas.Em 2020 decidi me dedicar à verdadeira paixão, atuar na área de
      tecnologia,
      começando o curso de Análise e Desenvolvimento de Sistemas e em paralelo a qualificação em programação junto a
      Blue Edtech.
      <ul>
        <li>Vivência em treinamentos e cursos, trabalhando o desenvolvimento de competências,
          avaliação por competências. </li>
        <li>Gerenciamento e suporte às rotinas das áreas financeira, administrativa, operacional,
          comércio exterior e todo o processo de participação em licitações públicas. </li>
        <li>Facilidade na validação e elaboração de todos os contratos da empresa junto à área
          jurídica, gerenciando suas particularidades, bem como seus aspectos legais, condições
          financeiras, responsabilidades, qualidade, prazos e o escopo dos serviços prestados. </li>
        <li>Domínio das rotinas da área de Financeira/Comercial, abrangendo, recrutamento,
          admissão, demissão, controle de ponto e elaboração de folha de pagamentos. Coordenação de
          equipe supervisionando a execução das atividades, promovendo elaboração e execução de
          treinamentos técnicos e motivacionais.. </li>
        <li>Ótima capacidade de negociação junto à clientes, fornecedores e instituições financeiras,
          atuando com grande comprometimento visando bons resultados para a empresa.</li>
      </ul>
    </p>
  </div>
    <h3 class="equipe">Raphael Gonçalves</h3>
    <div class="imgs-perfil">
      <img src="../static/img/Equipe/Raphael.png">
    </div>
   
    <p>
      39 anos, bacharel em direito, estudante atualmente de programação pela Blue Edtech na Turma3C6, desejando me tornar desenvolvedor fullStack. Sou de Brasilia, mas atualmente residindo em Maceió/AL.
      Hoje me encontro atraves do curso pela Blue, me ajudando a desenvolver em tudo que gosto em programação e em design gráfico. Cinéfilo, maratonista de séries, baterista em horas vagas, gamer, geek e nerd.<br> "The winter is coming"

    </p>
    <h3 class="equipe">Horlan Kelwyn</h3>
    <div class="imgs-perfil">
      <img src="../static/img/Equipe/Horlan.png">
    </div>
   
    <p>
      26 anos, Desenvolvedor em treinamento e estudante da Blue Edtech turma T3C006.
      nascido em Campina Grande-PB, já viajei por esse imenso Pais por muitos estados,
      morei boa parte da minha vida em SP, em varias cidades, fui pra Maringá-PR por dois anos,
      atualmente estou em Balneário Camboriú-SC, vim para cá em fevereiro desse ano como ultimo
      recurso disponível para mim e minha Família, conheci a Blue através de uma postagem no Face.
      Sempre tive um sonho de estudar programação, nunca tive condições para a realização deste
      sonho até conhecer a Blue.
      Adoro filmes de terror, seriados de comédia como Eu, a patroa e as crianças e Fuller House.

    </p>

    <h3 class="equipe">Victor Luz</h3>
    <div class="imgs-perfil">
      <img src="../static/img/Equipe/victor-edit.png">
    </div>
    
    <p>26 anos,nascido em Ouro Preto - MG, estudo Análise e Desenvolvimento de Sistemas na Faculdade Descomplica
      e juntamente programação com especialização em fullStack pela Blue EDTech.
      Após grandes idas e vindas, encontrei na programação um norte, e hoje busco
      aprender e aprimorar cada vez mais meus conhecimentos a fim de contribuir e crescer juntamente com uma equipe de
      trabalho.

      Meus principal Hobby e uma das minhas maiores paixões são os Games,
      jornada a qual se iniciou aos 4 anos quando ganhei o meu primeiro console, um clone do "NES".
      Foram milhares de horas destinas aos games, muitas historias vividas e amizades construidas.


    </p>

  </div>
  </section>
  <!--FOOTER CONTENT-->
  <div id="foot"></div>

</body>
<script src="../static/js/script.js">

</script>

</html>
