<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX| Adicionar Titulos</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div class="logomarca">
    <img src="/static/img/logomarca.png" alt="Logomarca Gameflix">
  </div>

  <div class="caixasAdicionarJogo">
      <input type="text" placeholder="Nome do título" name="game_name" required>
      <input type="text" placeholder="Descrição" name="game_description" required>
      <input type="text" placeholder="Nota Metacritic" name="game_grade" required>
      <input type="text" placeholder="Classificação Indicativa" name="game_parental_rating" required>
      <input type="text" placeholder="Gênero" name="game_type" required>
      <input type="text" placeholder="Ano de Lançamento" name="game_release" required>
      <input type="text" placeholder="Produtora" name="game_producer" required>
      <input type="text" placeholder="URL do Trailer" name="game_trailer" required>
      <button type="submit">Adicinar Título</button>
  </div>

</body>
</html>
