<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMEFLIX | Cadastre-se </title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>


<body>
    <!--HEADER CONTENT-->
    <div id="nav"></div>
    <div class="logomarca">
        <img src="/static/img/logomarca.svg" alt="Logomarca Gameflix">
    </div>
    <!--MAIN CONTENT-->
    <form action="/newUser" method="POST">
        <div class="infoUser">

            <div id="nomeUserAdd">
                <p>Nome</p>
                <input type="text" placeholder="Nome completo" name="userName" id="UserName" required>
            </div>

            <div id="cpfUserAdd">
                <p>CPF do Usuário</p>
                <input type="number" placeholder="CPF do Usuário" name="cpfUser" id="cpfUser" required>
            </div>

            <div id="emailUserAdd">
                <p>E-mail</p>
                <input type="email" placeholder="ex:  e-mail@gmail.com" name="userEmail" id="userEmail" required>
            </div>
            
            <div id="celularUserAdd">
                <p>Celular</p>
                <input type="number" placeholder="ex: (99)99999-9999" name="userCellphone" id="userCellphone" required>
            </div>

            <div id="birthUserAdd">
                <p>Nascimento</p>
                <input type="date" placeholder="Data Nascimento" name="birthUser" id="birthUser" required>
            </div>

            
            <div id="passwordUserAdd">
                <p>Senha</p>
                <input type="password" placeholder="Senha" name="userPassword" id="userPassword" required>
                <br><br>
                <p>Confirmar Senha</p>
                <input type="password" placeholder="Confirme sua Senha" name="confirmUserPassword" id="confirmUserPassword" required>
            </div>

        </div>
        <button type="submit" id="botaoRegistroUser">Cadastre-se</button>

    </form>

    <!--FOOTER CONTENT-->
    <div id="foot"></div>

</body>
<script src="../static/js/script.js">

</script>

</html>