<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Adicionar Títulos</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>

  <div class="logomarca">
    <img src="/static/img/logomarca.svg" alt="Logomarca Gameflix">
  </div>



  <!--MAIN CONTENT-->
  <form action="/new" method="POST">
    <div class="infoJogo">
      <input type="text" placeholder="Nome do título" name="game_name" required id="game_name">
      <input type="text" placeholder="Descrição" name="game_description" required id="game_description">
      <input type="text" placeholder="Nota Metacritic" name="game_grade" required id="game_grade">
      <select name="game_parental_rating" id="game_parental_rating">
        <option>Classificação Indicativa</option>
        <option value="18">Não recomendado para menores de 18 anos</option>
        <option value="16">Não recomendado para menores de 16 anos</option>
        <option value="16">Não recomendado para menores de 14 anos</option>
        <option value="12">Não recomendado para menores de 12 anos</option>
        <option value="10">Não recomendado para menores de 10 anos</option>
        <option value="0">Livre para todos os Públicos </option>
      </select>
      <input type="text" placeholder="Gênero" name="game_type" required id="game_type">
      <h4>Ano de lançamento</h4>
      <input type="number" value="2021">
      <input type="text" placeholder="Produtora" name="game_producer" required id="game_producer">
    </div>
    
    <div class="infoJogo">
      <input type="text" placeholder="URL do Trailer" name="game_trailer" required id="game_trailer">
      <input type="text" placeholder="URL da Imagem" name="game_img" required id="game_img">
      <input type="text" placeholder="URL da Logo" name="game_logo" required id="game_logo">
    </div>
    
    <button type="submit">Adicionar Título ao catálogo</button>
  </form>

  <!--FOOTER CONTENT-->
  <div id="foot"></div>

</body>

<script src="../static/js/script.js"></script>

</html>
