<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Gerenciar Títulos</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>
  <div class="logomarca">
    <img src="/static/img/logomarca.svg" alt="Logomarca Gameflix">
  </div>

  <!--MAIN CONTENT-->
  

      
  <!--FOOTER CONTENT-->
  <div id="foot"></div>
</body>

<script src="../static/js/script.js"></script>

</html>