<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Gerenciar Títulos</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>
  <div class="logomarca">
    <img src="/static/img/logomarca.svg" alt="Logomarca Gameflix">
  </div>
 
  <!--MAIN CONTENT-->
  <div class="addNovoTituloBotao"><a href="/cadastro-jogos" class="botao">ADICIONAR NOVO TÍTULO </a><br><br></div>
  
  <table class="tabela">
    <thead>
      <tr class="tabela_header">

        <th>ID</th>
        <th>NOME</th>
        <th>DESCRIÇÃO</th>
        <th>NOTA</th>
        <th id="tableGrade">CLASSIFICAÇÃO</th>
        <th>GÊNERO</th>
        <th id="tableRelease">DATA LANÇAMENTO</th>
        <th>PRODUTORA</th>
        <th>TRAILLER</th>
        <th>IMAGEM</th>
        <th>LOGO</th>

      </tr>
    </thead>
    <tbody>
      <!-- for para exibição em tabela dos jogos cadastrados dentro do BD -->
      {% for p in jogos %}
      <tr>
        <td>{{p.id}}</td>
        <td>{{p.nomeJogo}}</td>
        <td><textarea style="resize: none" readonly>{{p.descricao}}</textarea> </td>
        <td>{{p.notaMetric}}</td>
        <td>{{p.classificacao}}</td>
        <td>{{p.genero}}</td>
        <td>{{p.dataLancamento}}</td>
        <td>{{p.produtora}}</td>
        <td>{{p.trailler}}</td>
        <td>{{p.imagemLink}}</td>
        <td>{{p.logoLink}}</td>
        <td>
          <!-- <a href="/read" class="botao">VISUALIZAR</a> -->
          <div class="botoesGerenciamento">
            <a href="/edit/{{p.id}}" class="botao">EDITAR</a>
            <a href="/delete/{{p.id}}" class="botao">REMOVER</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <!-- Formulario de edição  -->
    {% if jogosEdit != undefined %}

    <form action="/edit/{{jogosEdit.id}}" method="post">
      <div class="infoJogo">

        <div id="nomeAdd">
          <input type="text" placeholder="Nome do título" name="game_name" id="game_name">
        </div>

        <div id="produtoraAdd">
          <input type="text" placeholder="Produtora" name="game_producer" id="game_producer">
        </div>

        <div id="lacamentoAdd">
          <p>Lançamento</p>
          <input id="ano" type="number" value="2021">
        </div>

        <div id="notaAdd">
          <p>Nota Metacritic</p>
          <input type="number" placeholder="0-100 " name="game_grade" id="game_grade" >
        </div>
        <div class="caixasdeOpcoes">
          <div id="idadeRecomendadaAdd">
            <p>Classificação Indicativa</p>
            <select name="game_parental_rating" id="game_parental_rating">
              <option>Classificação Indicativa</option>
              <option value="18">+18 - Não recomendado para menores de 18 anos</option>
              <option value="16">+16 - Não recomendado para menores de 16 anos</option>
              <option value="14">+14 - Não recomendado para menores de 14 anos</option>
              <option value="12">+12 - Não recomendado para menores de 12 anos</option>
              <option value="10">+10 - Não recomendado para menores de 10 anos</option>
              <option value="0">L - Livre para todos os Públicos </option>
            </select>
          </div>
          <div id="generoaAdd">
            <p>Gênero</p>
            <select name="game_gender" id="game_gender">
              <option>Selecione um ou mais gêneros</option>
              <option value="action">Ação</option>
              <option value="rpg">RPG</option>
              <option value="fps">Tiro em Primeira Pessoa - FPS</option>
              <option value="tps">Tiro em Terceira Pessoa - TPS</option>
              <option value="plataform">Plataforma</option>
              <option value="fighting">Luta</option>
              <option value="music">Musical</option>
              <option value="horror">Terror</option>
              <option value="stealth">Espionagem</option>
              <option value="adventure">Aventura</option>
              <option value="action">Ação</option>
              <option value="mmo"> MMO - Massively Multiplayer Online</option>
              <option value="moba"> MOBA - Multiplayer Online Battle Arena </option>
              <option value="openWorld"> Mundo Aberto </option>
            </select>
          </div>
        </div>
        <div id="descricaoAdd">
          <textarea type="text" placeholder="Descrição do jogo..." name="game_description" id="game_description"></textarea>
        </div>


        <div id="midiaAdd">
          <p>Mídia</p>
          <input type="text" placeholder="URL do Trailer" name="game_trailer" id="game_trailer">
          <input type="text" placeholder="URL da Imagem" name="game_img" id="game_img">
          <input type="text" placeholder="URL da Logo" name="game_logo" id="game_logo">
        </div>


      </div>
      <button type="submit" id="botao-aplicar-edicao">Aplicar mudanças ao Título no catálogo</button>
      <button type="reset" action="reset" id="botao-editando-cancel">Cancelar</button>
    </form>
   
    </div>

    </form>
    {% endif %}



  </table>
  <br>



  <!--FOOTER CONTENT-->
  <div id="foot"></div>
</body>

<script src="../static/js/script.js"></script>

</html>