<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Gerenciar Usuários</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>
  <div class="logomarca">
    <img src="/static/img/logomarca.svg" alt="Logomarca Gameflix">
  </div>

  <!--MAIN CONTENT-->
  <div class="addNovoTituloBotao"><a href="/cadastro" class="botaoTitle">ADICIONAR NOVO USUÁRIO </a><br><br></div>

  <table class="tabela">
    <thead>
      <tr class="tabela_header">

        <th id="tableIdHead">ID</th>
        <th id="tableUserNameHead">NOME</th>
        <th id="tableCpfHead">CPF</th>
        <th id="tableBirthHead">NASCIMENTO</th>
        <th id="tableMailHead">E-MAIL</th>
        <th id="tablePhoneHead">CELULAR</th>
        <th id="tablePasswordHead">SENHA</th>
        <th id="tableToolsHead">FERRAMENTAS</th>
      </tr>
    </thead>
    <tbody>
      <!-- for para exibição em tabela dos jogos cadastrados dentro do BD -->
      {% for p in jogos %}
      <tr class="tabela_conteudo">
        <td id="tableIdContent">{{p.id}}</td>
        <td id="tableUserNameContent">{{p.username}}</td>
        <td id="tableCpfContent">{{p.usercpf}}</td>
        <td id="tableBirthContent">{{p.userbirth}}</td>
        <td id="tableMailContent">{{p.usermail}}</td>
        <td id="tablePhoneContent">{{p.userphone}}</td>
        <td id="tablePasswordContent">{{p.userpassword}}</td>
        <td>
          <ul class="listaBotoesGerenciamento">
            <li><a href="/read" class="botaoTool">VISUALIZAR</br><img src="/static/img/view.png"
                  alt="Ícone de visualização"></a></li>
            </br>
            <li><a href="/delete/{{p.id}}" class="botaoTool">REMOVER</br><img src="/static/img/trash.png"
                  alt="Ícone de exclusão"></a></li>
            </br>
            <li><a href="/edit/{{p.id}}" class="botaoTool">EDITAR</br><img src="/static/img/edit.png"
                  alt="Ícone de edição"></a></li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <!-- Formulario de edição  -->
    {% if jogosEdit != undefined %}

    <form action="/editUser" method="POST">
      <div class="infoUser">

        <div id="nomeUserAdd">
          <p>Nome</p>
          <input type="text" placeholder="Nome completo" name="userName" id="UserName" required>
        </div>

        <div id="cpfUserAdd">
          <p>CPF do Usuário</p>
          <input type="number" placeholder="CPF do Usuário" name="cpfUser" id="cpfUser" required>
        </div>

        <div id="emailUserAdd">
          <p>E-mail</p>
          <input type="email" placeholder="ex:  e-mail@gmail.com" name="userEmail" id="userEmail" required>
        </div>

        <div id="celularUserAdd">
          <p>Celular</p>
          <input type="number" placeholder="ex: (99)99999-9999" name="userCellphone" id="userCellphone" required>
        </div>

        <div id="birthUserAdd">
          <p>Nascimento</p>
          <input type="date" placeholder="Data Nascimento" name="birthUser" id="birthUser" required>
        </div>


        <div id="passwordUserAdd">
          <p>Senha</p>
          <input type="password" placeholder="Senha" name="userPassword" id="userPassword" required>
          <br><br>
          <p>Confirmar Senha</p>
          <input type="password" placeholder="Confirme sua Senha" name="confirmUserPassword" id="confirmUserPassword"
            required>
        </div>

      </div>

    </form>

    </div>
    <button type="submit" id="botao-aplicar-edicao">Aplicar mudanças no usuário</button>
    <button a href="/gerenciar-jogos" id="botao-editando-cancel">Cancelar</button>
    </form>

    </div>

    </form>
    {% endif %}



  </table>
  


  <!--FOOTER CONTENT-->
  <div id="foot"></div>
</body>

<script src="../static/js/script.js"></script>

</html>