<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameflix | Página Inicial</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
</head>

<body>
    <!-- HEADER CONTENT -->
    <div id="nav"></div>

    <!-- slide de fotos inicio -->
    <div class="top-slide">
        <div class="slidert">
        <div class="slidest">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">    
            <input type="radio" name="radio-btn" id="radio3">    
            <input type="radio" name="radio-btn" id="radio4">
                <div class="slidet first">
                    <img src="../Imgs_Jogos/Assassin´sCreedIV–BlackFlag/Assassin´sCreedIV–BlackFlag_Capa.jpg" alt="">
                </div>
                <div class="slidet">
                    <img src="../Imgs_Jogos/Diablo2Resurrected/Diablo2Resurrected_Capa.jpg" alt="">
                </div>
                <div class="slidet">
                    <img src="../Imgs_Jogos/ParasiteEve/ParasiteEve_Capa2.jpg" alt="">
                </div>
                <div class="slidet">
                    <img src="../Imgs_Jogos/AgeofEmpiresIII–Definitive/AgeofEmpiresIII–Definitive_Capa.jpg" alt="">
                </div>
            <!-- troca de slides automatico -->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!-- troca de slides manual -->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>       
        </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <main>
        <section class="thumbSection">
            <h2 class="thumbTitle">Lançamentos</h2>
            <div class="thumbTiles swiper-container">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../Imgs_Jogos/Assassin´sCreedIV–BlackFlag/Assassin´sCreedIV–BlackFlag_Capa.jpg" width="380" height="200"
                                alt="Assasin´s Creed -Black Flag">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../Imgs_Jogos/GhostOfTsushima/GhostOfTsushima_Capa.jpg"
                                alt="Ghost Of Tsushima">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../Imgs_Jogos/DeadSpace/DeadSpace_Capa.jpg"
                                alt="Dead Space">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../Imgs_Jogos/MobileLegends/MobileLegends_Capa.png"
                                alt="Mobile Legends">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../Imgs_Jogos/TheWitcher3/TheWitcher3_Capa.jpg"
                                alt="The Witcher 3">
                        </a>
                    </div>
                    <div class="swiper-slide">
                      <a class="thumbTile" href="#">
                          <img class="thumbTile__image"
                              src="../Imgs_Jogos/BioShock–TheCollection/BioShock–TheCollection_Capa.jpg"
                              alt="Bio Shock - The Collection">
                      </a>
                  </div>                    
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <section class="thumbSection">
          <h2 class="thumbTitle">Gênero</h2>
          <div class="thumbTiles swiper-container">
              <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                      <a class="thumbTile" href="#">
                          <img class="thumbTile__image"
                              src="../Imgs_Jogos/Assassin´sCreedIV–BlackFlag/Assassin´sCreedIV–BlackFlag_Capa.jpg" width="380" height="200"
                              alt="Assasin´s Creed -Black Flag">
                      </a>
                  </div>
                  <div class="swiper-slide">
                      <a class="thumbTile" href="#">
                          <img class="thumbTile__image"
                              src="../Imgs_Jogos/GhostOfTsushima/GhostOfTsushima_Capa.jpg"
                              alt="Ghost Of Tsushima">
                      </a>
                  </div>
                  <div class="swiper-slide">
                      <a class="thumbTile" href="#">
                          <img class="thumbTile__image"
                              src="../Imgs_Jogos/DeadSpace/DeadSpace_Capa.jpg"
                              alt="Dead Space">
                      </a>
                  </div>
                  <div class="swiper-slide">
                      <a class="thumbTile" href="#">
                          <img class="thumbTile__image"
                              src="../Imgs_Jogos/MobileLegends/MobileLegends_Capa.png"
                              alt="Mobile Legends">
                      </a>
                  </div>
                  <div class="swiper-slide">
                      <a class="thumbTile" href="#">
                          <img class="thumbTile__image"
                              src="../Imgs_Jogos/TheWitcher3/TheWitcher3_Capa.jpg"
                              alt="The Witcher 3">
                      </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="thumbTile" href="#">
                        <img class="thumbTile__image"
                            src="../Imgs_Jogos/BioShock–TheCollection/BioShock–TheCollection_Capa.jpg"
                            alt="Bio Shock - The Collection">
                    </a>
                </div>
              </div>

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
          </div>
      </section>

      <section class="thumbSection">
        <h2 class="thumbTitle">Amados pela Crítica</h2>
        <div class="thumbTiles swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a class="thumbTile" href="#">
                        <img class="thumbTile__image"
                            src="../Imgs_Jogos/Assassin´sCreedIV–BlackFlag/Assassin´sCreedIV–BlackFlag_Capa.jpg" width="380" height="200"
                            alt="Assasin´s Creed -Black Flag">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="thumbTile" href="#">
                        <img class="thumbTile__image"
                            src="../Imgs_Jogos/GhostOfTsushima/GhostOfTsushima_Capa.jpg"
                            alt="Ghost Of Tsushima">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="thumbTile" href="#">
                        <img class="thumbTile__image"
                            src="../Imgs_Jogos/DeadSpace/DeadSpace_Capa.jpg"
                            alt="Dead Space">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="thumbTile" href="#">
                        <img class="thumbTile__image"
                            src="../Imgs_Jogos/MobileLegends/MobileLegends_Capa.png"
                            alt="Mobile Legends">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="thumbTile" href="#">
                        <img class="thumbTile__image"
                            src="../Imgs_Jogos/TheWitcher3/TheWitcher3_Capa.jpg"
                            alt="The Witcher 3">
                    </a>
                </div>
                <div class="swiper-slide">
                  <a class="thumbTile" href="#">
                      <img class="thumbTile__image"
                          src="../Imgs_Jogos/BioShock–TheCollection/BioShock–TheCollection_Capa.jpg"
                          alt="Bio Shock - The Collection">
                  </a>
              </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    </main>

    <!--FOOTER CONTENT-->
  <div id="foot"></div> 
  <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
</body>
<script src="../static/js/script.js"></script>
<script src="../static/js/swiper.js"></script>
<!-- JavaScript Bundle with Popper -->

</html>
