<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style-home.css">
  <script src="https://kit.fontawesome.com/a89fdcf506.js" crossorigin="anonymous"></script>
  <script src="../static/js/style.js"></script>
  <title>GAMEFLIX | Pagina Inicial</title>
</head>
<body>
  <!--HEADER CONTENT-->
  <nav>
    <img src="../static/img/logomarca.svg" height="50" >
    <ol>
      <li><a href="#">Home</a></li>
      <li><a href="#">Meus Jogos</a></li>
      <li><a href="#">Todos os Jogos</a></li>
    </ol>
    <div class="search_box">
      <input type="search" placeholder="Buscar...">
      <span class="fa fa-search"></span>
    </div>
  </nav>

  <!--MAIN CONTENT-->
  <div class="slider">
    <input type="radio" name="slider" checked="checked">
    <div class="imgBx">
      <img src="../static/img/diablo2.jpg">
      <div class="content">
        <h2>Diablo II</h2>
        <p>Lorem ipsum dolor sit amet con la rebet lorem, consectetur adipisicing elit </p>
        <a href="#">Leia mais</a>
      </div>
    </div>
    <input type="radio" name="slider">
    <div class="imgBx">
      <img src="../static/img/235072.jpg">
      <div class="content">
        <h2>Mobile Legends</h2>
        <p>Lorem ipsum dolor sit amet con la rebet lorem, consectetur adipisicing elit </p>
        <a href="#">Leia mais</a>
      </div>
    </div>
    <input type="radio" name="slider">
    <div class="imgBx">
      <img src="../static/img/bioshock.jpg">
      <div class="content">
        <h2>bioshock</h2>
        <p>Lorem ipsum dolor sit amet con la rebet lorem, consectetur adipisicing elit </p>
        <a href="#">Leia mais</a>
      </div>
    </div>
    <input type="radio" name="slider">
    <div class="imgBx">
      <img src="../static/img/God-of-War-4.jpg">
      <div class="content">
        <h2>God of WAR</h2>
        <p>Lorem ipsum dolor sit amet con la rebet lorem, consectetur adipisicing elit </p>
        <a href="#">Leia mais</a>
      </div>
    </div>
    <input type="radio" name="slider">
    <div class="imgBx">
      <img src="../static/img/unchated3.jpg">
      <div class="content">
        <h2>Uncharted</h2>
        <p>Lorem ipsum dolor sit amet con la rebet lorem, consectetur adipisicing elit </p>
        <a href="#">Leia mais</a>
      </div>
    </div>
  </div>
    

  <!--FOOTER CONTENT-->
  <div class="footer-basic">
    <footer>
        <img src="../static/img/logomarca2.png" height="60" width="60" alt="logo footer" id="imgpos">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Suporte</a></li>
            <li class="list-inline-item"><a href="#">Sobre</a></li>
            <li class="list-inline-item"><a href="#">Mapa do Site</a></li>
            <li class="list-inline-item"><a href="#">Termos de Uso</a></li>
        </ul>
        <p class="copyright">©2021 GAMEFLIX, INC. TODOS OS DIREITOS RESERVADOS.<br>Todas as marcas registradas mencionadas são de propriedade de seus respectivos donos.</p>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script
</body>
</html>