<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/style-home.css">
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <script src="https://kit.fontawesome.com/a89fdcf506.js" crossorigin="anonymous"></script>
  <title>GAMEFLIX | Pagina Inicial</title>
</head>

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>

  <!--MAIN CONTENT-->
  <section id="jogos">

    {% for p in jogos %}
    <div id='card'>

      <img src="{{p.imagemLink}}" alt="{{p.nomeJogo}}">
      <h2>{{p.nomeJogo}}</h2>
      <a href="{{p.trailler}}" target="_blank">Veja mais</a>
    </div>
    {% endfor %}
  </section>

  <!--FOOTER CONTENT-->
  <div id="foot"></div>
  <script src="../static/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>