<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Página de Login</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<!--HEADER CONTENT-->
<nav>
  <img src="../static/img/logomarca.svg" height="60" width="60">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="#">Meus Jogos</a></li>
    <li><a href="#">Todos os Jogos</a></li>
  </ol>
  <div class="search_box">
    <input type="search" placeholder="Buscar...">
    <span class="fa fa-search"></span>
  </div>
</nav>

<div className="Login">
  <form action="action_page.php" method="post">
    <div class="logomarca">
      <img src="/static/img/logomarca.svg" alt="Logomarca Gameflix">
    </div>

    <div class="LoginBox">
      <div class="LoginInfo">
        <input type="text" placeholder="E-mail ou nome de usuário" name="user_name" required>
        <input type="password" placeholder="Senha" name="password" required>
      </div>
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="lembrar"> Lembrar-me
      </label>
      <br><br><br>
      <hr>
    </div>

  </form>
  <div class="helpLinks">
    <li><a href="https://www.link de exemplo/">Não tem uma conta ?</br>
        Crie uma Conta GameFlix !</a></li>
    </br></br>
    <li><a href="https://www.link de exemplo/">Não consegue logar ? </a></li>
  </div>
</div>
<!--FOOTER CONTENT-->
<div class="footer-basic">
  <footer>
    <img src="../static/img/logomarca.svg" height="60" width="60" alt="logo footer" id="imgpos">
    <ul class="list-inline-footer">
      <li class="list-inline-item"><a href="#">Suporte</a></li>
      <li class="list-inline-item"><a href="#">Sobre</a></li>
      <li class="list-inline-item"><a href="#">Mapa do Site</a></li>
      <li class="list-inline-item"><a href="#">Termos de Uso</a></li>
    </ul>
    <p class="copyright">©2021 GAMEFLIX, INC. TODOS OS DIREITOS RESERVADOS.<br>Todas as marcas registradas mencionadas
      são de propriedade de seus respectivos donos.</p>
  </footer>
</div>

</body>

</html>
