<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameflix | {% for p in jogos %} {{p.nomeJogo}} {% endfor %} </title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/template-jogos-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">


</head>

<body>
    <!-- HEADER CONTENT -->
    <div id="nav"></div>

    <!-- MAIN CONTENT -->
    <div class="viewJogo">
        {% for a in jogos %}
        <div><iframe src="{{a.trailler}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="caixainformacoesJogos">
            <img src="{{a.logoLink}}"
                alt="Ícone do jogo {{p.nomeJogo}}">
            
            <div class="subCaixainformacoes">
                <p>{{a.descricao}}</p>

                
                <hr>
                <ul>
                    <li>Nome do títulos: {{a.nomeJogo}}</li>
                    <li>Classificação indicativa: {{a.classificacao}}</li>
                    <li>Nota Metacritic: {{a.notaMetric}}</li>
                    <li>Gênero: {{a.genero}}</li>
                    <li>Lançamento:{{a.dataLancamento}}</li>
                    <li>Produtora: {{a.produtora}}</li>
                </ul>
            </div>

        </div>
    </div>



    <!--FOOTER CONTENT-->
    <div id="foot"></div>

</body>
<script src="../static/js/script.js"></script>


</html>