<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAMEFLIX | Todos os Jogos</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <!--HEADER CONTENT-->
  <div id="nav"></div>

  <!--MAIN CONTENT-->
  <section id="jogos">

    {% for p in jogos %}
    <div id='card'>
      
       <img src= {{p.imagemLink}} alt={{p.nomeJogo}}>
       <h2>{{p.nomeJogo}}</h2>
       <a href="/template-jogos/{{p.id}}" target="_blank">Veja mais</a>
    </div>
    {% endfor %}
 </section>
  <!--FOOTER CONTENT-->
  <div id="foot"></div>

</body>
<script src="../static/js/script.js">

</script>

</html>
